<div class="container text-center mt-3 mb-3 col-md-8">
   <form class="card bg-light ml-3 mr-3" action="/car/add" method="post">
      <h1 class="text text-primary mt-2 mb-2">Add new car</h1>
      <div class="form-group mt-2 mb-2">
         <label class="fw-bold" for="">Name</label>
         <input class="form-control" type="text" name="Name" required>
      </div>
      <div class="form-group mt-2 mb-2">
         <label class="fw-bold" for="">Date</label>
         <input class="form-control" type="text" name="Date" required>
      </div>
      <div class="form-group mt-2 mb-2">
         <label class="fw-bold" for="">Quantity</label>
         <input class="form-control" type="text" name="Quantity" required>
      </div>
      <div class="form-group mt-2 mb-2">
         <label class="fw-bold" for="">Price</label>
         <input class="form-control" type="text" name="Price" required>
      </div>
    <div class="form-group mt-2 mb-2">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        Yes
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
        No
        </label>
        </div>
      </div>
      <select id="type" name="type"> 
      <option>BMW </option>
      <option>Mercedes </option>
</select>
    
      <div class="form-group mt-2 mb-2">
         <input class="btn btn-danger" type="submit" value="Add">
      </div>
   </form>
</div>